# Processing Metadata

**Methodology**:
1. Extract and format maize management features for all year-locations (aka envs)
2. Clean file by imputing missing values where possible, otherwise filling in missing values with 'n/a' string
3. Label encode and/or normalise values for all extracted features
4. Construct and evaluate random forest model predicting corn yield with snp, weather and management features

In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

In [ ]:
metadata = pd.read_csv('2_Training_Meta_Data_2014_2023.csv')
metadata.head(10)

,Year,Env,Experiment_Code,Treatment,City,Farm,Field,Trial_ID (Assigned by collaborator for internal reference),"Soil_Taxonomic_ID and horizon description, if known","Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)",...,Cardinal_Heading_Pass_1,Irrigated,Issue/comment_#1,Issue/comment_#2,Issue/comment_#3,Issue/comment_#4,Issue/comment_#5,Issue/comment_#6,Issue/comment_#7,Issue/comment_#8
0,2014,DEH1_2014,DEH1,NaN,Georgetown,Elbert N. & Ann V. Carvel Research & Education...,27AB,NaN,NaN,9079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,GAH1_2014,GAH1,NaN,Tifton,USDA - Bellflower experimental farm,18,NaN,NaN,8427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,IAH1a_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH...",NaN
3,2014,IAH1b_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH...",NaN
4,2014,IAH1c_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH...",NaN
5,2014,IAH2_2014,IAH2,NaN,Carroll,NaN,NaN,NaN,NaN,9083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014,IAH3_2014,IAH3,NaN,Keystone,NaN,NaN,NaN,NaN,9085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2014,IAH4_2014,IAH4,NaN,Crawfordsville,Southeast Research Farm,14,NaN,NaN,9082,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2014,ILH1_2014,ILH1,NaN,Urbana,Maxwell Farms,MF500,NaN,NaN,8653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014,INH1_2014,INH1,NaN,West Lafayette,Purdue ACRE,97/98,NaN,NaN,8657,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(metadata)
# metadata info available for 272 year-locations

272

In [ ]:
metadata.columns

Index(['Year', 'Env', 'Experiment_Code', 'Treatment', 'City', 'Farm', 'Field',
       'Trial_ID (Assigned by collaborator for internal reference)',
       'Soil_Taxonomic_ID and horizon description, if known',
       'Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)',
       'Weather_Station_Latitude (in decimal numbers NOT DMS)',
       'Weather_Station_Longitude (in decimal numbers NOT DMS)',
       'Date_weather_station_placed', 'Date_weather_station_removed',
       'Previous_Crop', 'Pre-plant_tillage_method(s)',
       'In-season_tillage_method(s)',
       'Type_of_planter (fluted cone; belt cone; air planter)',
       'System_Determining_Moisture', 'Pounds_Needed_Soil_Moisture',
       'Latitude_of_Field_Corner_#1 (lower left)',
       'Longitude_of_Field_Corner_#1 (lower left)',
       'Latitude_of_Field_Corner_#2 (lower right)',
       'Longitude_of_Field_Corner_#2 (lower right)',
       'Latitude_of_Field_Corner_#3 (upper right)',
       'Longitude_of_Field_Corner_#3 (upper right)',
       'Latitude_of_Field_Corner_#4 (upper left)',
       'Longitude_of_Field_Corner_#4 (upper left)', 'Cardinal_Heading_Pass_1',
       'Irrigated', 'Issue/comment_#1', 'Issue/comment_#2', 'Issue/comment_#3',
       'Issue/comment_#4', 'Issue/comment_#5', 'Issue/comment_#6',
       'Issue/comment_#7', 'Issue/comment_#8'],
      dtype='object')

In [ ]:
#Calculate the average latitude of the four field corners and store it in a new 'lat' column
metadata["lat"] = metadata[['Latitude_of_Field_Corner_#1 (lower left)', 'Latitude_of_Field_Corner_#2 (lower right)',
             'Latitude_of_Field_Corner_#3 (upper right)','Latitude_of_Field_Corner_#4 (upper left)',]].mean(axis=1)

#Calculate the average longitude of the four field corners and store it in a new 'lon' column
metadata["lon"] = metadata[['Longitude_of_Field_Corner_#1 (lower left)', 'Longitude_of_Field_Corner_#2 (lower right)',
            'Longitude_of_Field_Corner_#3 (upper right)','Longitude_of_Field_Corner_#4 (upper left)',]].mean(axis=1)

In [ ]:
import re

comments = metadata[['Issue/comment_#1', 'Issue/comment_#2', 'Issue/comment_#3',
                     'Issue/comment_#4', 'Issue/comment_#5', 'Issue/comment_#6',
                     'Issue/comment_#7', 'Issue/comment_#8']].copy()

def replace_keywords(text):
    """This function checks whether a given string matches any words defined in a predefined dictionary.

  Function will:
  If there is a match, the string is either replaced with a simplified category label (e.g., 'water', 'animal') or
  If the match is from the 'keywords' category, the actual matching word is retained.
  All non-matching strings and missing values are replaced with 'None' ."""

    # Define keywords and their categories
    keyword_categories = {
        "keywords": ["weed", "lodg", "feed", "stunt", "germination", "stand", "emergence", "rot"],
        "wind": ["wind", "gooseneck", "goose neck", "greensnap", "hail"],
        "weed" :["morning glory", "pigweed", "watchdog", "herbicide"],
        "water": ["drought", "dry", "flood", "rain", "moisture", "water", "underwater", "irrigation", "irrigated"],
        "equip": ["break", "battery", "jam", "disk", "cultivator", "weather", 
                  "sensor", "wire", "additional weather", "tractor", "roller", 
                  "plugged", "sprayer", "planter", "combine", "crew", "mistake", "miscommunication"],
        "animal": ["raccoon", "goose", "deer", "rodents", "hog"]
    }
    
    if isinstance(text, str):  
        text_lower = text.lower() 
        
        # Match each category with its radicals
        for category, radicals in keyword_categories.items():
            for radical in radicals:
                if re.search(rf"\b{radical}", text_lower): 
                    if category == "keywords":
                        return radical  
                    elif category == "wind":
                        return "wind damage"
                    elif category == "water":
                        return "water"
                    elif category == "weed":
                        return "weed"
                    elif category == "equip":
                        return "equipment"
                    elif category == "animal":
                        return "animal"
    return None

In [ ]:
#apply function
for col in comments.columns :
    print(f"Processing column: {col}")
    comments[col] = comments[col].apply(replace_keywords)

Processing column: Issue/comment_#1
Processing column: Issue/comment_#2
Processing column: Issue/comment_#3
Processing column: Issue/comment_#4
Processing column: Issue/comment_#5
Processing column: Issue/comment_#6
Processing column: Issue/comment_#7
Processing column: Issue/comment_#8

In [ ]:
unique_values = comments.stack().unique()
print(len(unique_values))
print(unique_values)

12
['weed' 'feed' 'lodg' 'equipment' 'stunt' 'water' 'stand' 'rot' 'animal'
 'germination' 'wind damage' 'emergence']

In [ ]:
# Multiple comments across columns are combined
metadata['Issues'] = comments.apply(lambda row: ', '.join(filter(None, row)), axis=1)

In [ ]:
# Extract key raw and processed management features
metadata = metadata[['Year', 'Env', 'Experiment_Code', 'Treatment',
       'Soil_Taxonomic_ID and horizon description, if known',
       'Previous_Crop', 'Pre-plant_tillage_method(s)',
       'In-season_tillage_method(s)', 'Issues', 'lon', 'lat',
       'Type_of_planter (fluted cone; belt cone; air planter)', 'Irrigated']]

In [136]:
metadata.head(5)

,Year,Env,Experiment_Code,Treatment,"Soil_Taxonomic_ID and horizon description, if known",Previous_Crop,Pre-plant_tillage_method(s),In-season_tillage_method(s),Issues,lon,lat,Type_of_planter (fluted cone; belt cone; air planter),Irrigated
0,2014,DEH1_2014,DEH1,NaN,NaN,soybean,Conventional,NaN,NaN,NaN,NaN,Air planter,NaN
1,2014,GAH1_2014,GAH1,NaN,NaN,cotton,conventional,NaN,NaN,NaN,NaN,fluted cone,NaN
2,2014,IAH1a_2014,IAH1,NaN,NaN,soybean,field cultivator,NaN,NaN,NaN,NaN,Air planter,NaN
3,2014,IAH1b_2014,IAH1,NaN,NaN,soybean,field cultivator,NaN,NaN,NaN,NaN,Air planter,NaN
4,2014,IAH1c_2014,IAH1,NaN,NaN,soybean,field cultivator,NaN,NaN,NaN,NaN,Air planter,NaN

In [ ]:
missing_values = metadata.isnull().sum()
print(f"Missing values per column:\n{missing_values}")

Missing values per column:
Year                                                       0
Env                                                        0
Experiment_Code                                            0
Treatment                                                 56
Soil_Taxonomic_ID and horizon description, if known      195
Previous_Crop                                             34
Pre-plant_tillage_method(s)                               57
In-season_tillage_method(s)                              186
Issues                                                   178
lon                                                       52
lat                                                       52
Type_of_planter (fluted cone; belt cone; air planter)     25
Irrigated                                                222
dtype: int64

In [29]:
#col: Treatment (56/272 missing values)

print(metadata['Treatment'].value_counts(dropna=False))
#Late Planting = Late planting 
#Dryland = Dry Land
#Assume NaN is different to Standard

Treatment
Standard                        192
NaN                              56
Drought                           8
Disease trial                     4
Dry Land                          2
Late Planting                     2
Early Planting                    1
Irrigated                         1
Late Stressed                     1
Dryland                           1
Standard - Irrigated Optimal      1
Dryland optimal                   1
Late Planted Irrigated            1
Late planting                     1
Name: count, dtype: int64

In [30]:
#replace Late planting string as Late Planting string 
metadata['Treatment'] = metadata['Treatment'].replace('Late planting', 'Late Planting')

#replace Dryland string with Dry Land string
metadata['Treatment'] = metadata['Treatment'].replace('Dryland', 'Dry Land')

In [31]:
#col: Soil_Taxonomic_ID and horizon description, if known (195/272 missing values)

print(metadata['Soil_Taxonomic_ID and horizon description, if known'].unique())
#49 unique categories (excluding nan)
#many instance will not have a Soil_Taxanomic_ID (could be an area of data bias, regions is soil id could be grouped together better)

[nan 'Tifton loamy sand/Dothan loamy sand' 'Augusta A / Cartecey A'
 'Flanagan Silt Loam (154A)' '\tNicollet clay loam'
 '5058  Mexico Silt Loam, 0-2% slopes'
 'Lynchburg sandy loam, 0 to 2 percent slopes, Ap - 0 to 8 inches: sandy loam'
 'flat' 'Tifton loamy sand' 'Masada A/Wickham sandy loam' 'capac loam'
 '5058 Mexico Silt Loam, 0-2% slopes' 'Pantego loam' 'Alfisol'
 '2w3kh & 2trwv' 'LtA' 'Flanagan Silt Loam' 'RcA-Raub-Brenton Complex'
 'Silt loam' '5058/5059ÊMexico Silt Loam' '5059 Mexico Silt Loam'
 'silt/clay/loam' 'Lima silt loam' 'KlA/LtB' 'Raub-Brenton complex'
 'Webster Clay Loam' 'Mexico Silt Loam, 1-4 percent slopes, eroded'
 'Oxyaquic Hapludalfs' 'HnB/LtA' 'LtA/HnB' 'PoA, TrB' 'PnA, PnB'
 'Mexico Silt Loam, 1-4 percent slopes, eroded. https://soilseries.sc.egov.usda.gov/OSD_Docs/M/MEXICO.html'
 'Lynchburg sandy loam, 0 to 2 percent slopes:            Ap - 0 to 8 inches: sandy loam E - 8 to 11 inches: sandy loam Bt - 11 to 21 inches: sandy clay loam Btg - 21 to 65 inches: sandy clay loam BCg - 65 to 85 inches: sandy clay loam                                                       AND                                                                          Rains sandy loam, 0 to 2 percent slopes: Ap - 0 to 8 inches: sandy loam\nE - 8 to 11 inches: sandy loam\nBt - 11 to 21 inches: sandy clay loam\nBtg - 21 to 65 inches: sandy clay loam\nBCg - 65 to 85 inches: sandy clay loam'
 'LtA, LtB, KIA' 'LtA, LtB,HnB ' 'LtA, HnB, LtB' 'Sandy'
 'Chalmers Silty Clay Loam'
 'GoAÑGoldsboro sandy loam, 0 to 3 percent slopes: Ap - 0 to 7 inches: fine sandy loam E - 7 to 13 inches: fine sandy loam Bt - 13 to 40 inches: sandy clay loam Btg - 40 to 80 inches: sandy clay loam NoAÑNorfolk sandy loam, 0 to 2 percent slopes:  Ap - 0 to 9 inches: sandy loam E - 9 to 15 inches: sandy loam Bt1 - 15 to 19 inches: sandy clay loam Bt2 - 19 to 100 inches: sandy clay loam'
 'Holdrege silt loam' 'Cozad Silt Loam' 'LtA, HnB,KIA '
 'Belk Clay Loam (BaA) / Ships Clay Loam (ShA)' 'Raub/Brenton Complex'
 'Goldsboro sandy loam, 0 to 3 percent slopes 93.7%  \nAp - 0 to 7 inches: fine sandy loam\nE - 7 to 13 inches: fine sandy loam\nBt - 13 to 40 inches: sandy clay loam\nBtg - 40 to 80 inches: sandy clay loam\nLynchburg sandy loam 2.4%\nRains sandy loam 3.9%\n'
 'LtA, LtB,KIA '
 'Drummer silty clay loam, 0 to 2 percent slopes, Typical profile\nAp - 0 to 14 inches: silty clay loam\nBtg - 14 to 41 inches: silty clay loam\n2Btg - 41 to 47 inches: loam\n2Cg - 47 to 60 inches: stratified sandy loam to clay loam'
 '50058; Mexico Silt Loam, 0-2% slopes' 'Honeoye and Lima silt loams ']

In [32]:
#col: previous crop (34/272 missing values)

print(metadata['Previous_Crop'].value_counts(dropna=False))
#soybean and Soybeans same
#sorghum and Sorghum same
#Winter wheat and Winter Wheat same
#wheat/double crop soybean and wheat and Double Crop soybean and wheat/soybean are same
#many of the previous crop is soybean

Previous_Crop
soybean                                                                                                                               159
NaN                                                                                                                                    34
corn                                                                                                                                   30
wheat                                                                                                                                  16
peanut                                                                                                                                  6
Winter wheat                                                                                                                            4
sorghum                                                                                                                                 3
Sorghum                                                                                                                                 3
cotton                                                                                                                                  2
wheat/double crop soybean                                                                                                               2
Lima beans followed by rye cover crop                                                                                                   1
wheat and Double Crop soybean                                                                                                           1
sugar beet                                                                                                                              1
Small Grains and Double Crop soybean                                                                                                    1
Fallow most of 2014 winter planted in fall of 2014 then sprayed with Glystar 24 floz/a on 5/3/15  and killed spring of 2015 spray       1
wheat/soybean                                                                                                                           1
soybean/pumpkin                                                                                                                         1
Fallow                                                                                                                                  1
2019/20 wheat                                                                                                                           1
soybeans with fall cereal rye cover                                                                                                     1
Winter Wheat                                                                                                                            1
cereal rye                                                                                                                              1
Soybeans                                                                                                                                1
Name: count, dtype: int64

In [33]:
#uniform upper and lower case formating of same crop
metadata['Previous_Crop'] = metadata['Previous_Crop'].replace('soybean', 'Soybeans')
metadata['Previous_Crop'] = metadata['Previous_Crop'].replace('sorghum', 'Sorghum')
metadata['Previous_Crop'] = metadata['Previous_Crop'].replace('Winter wheat', 'Winter Wheat')

#combine groups with wheat and soybean as a double crop
metadata['Previous_Crop'] = metadata['Previous_Crop'].replace('wheat/double crop soybean', 'wheat/soybean')
metadata['Previous_Crop'] = metadata['Previous_Crop'].replace('wheat and Double Crop soybean', 'wheat/soybean')

In [34]:
#col: Pre plant tillage method  (57/272 missing values)
metadata['Pre-plant_tillage_method(s)'].unique().tolist()

['Conventional',
 'conventional',
 'field cultivator',
 'No-till',
 'Chisel plow and field cultivator',
 'Fall chisel plow and spring field cultivate',
 'chisel plow in fall; field cultivated in spring',
 'Disc in previous fall',
 'In the Spring the land was cut with a disk, then ripped with a chisel plow to a depth of 8-10”. It was then cut again and we applied 300#/acre of 10-0-30-12%S. Next we used a field cultivator with rolling baskets to incorporate the fertilizer. The land was bedded just prior to planting.',
 'chisel',
 'no-till',
 'Field J was fall moldboard plow;  Then disked this spring and field cultivated before planting.',
 'The field was minium tilled.  The field was disked then cultipacked then Cultimulched then planted',
 'Fall Chisel Plow; Spring Cultivate',
 'min-till',
 nan,
 'Fall Chisel',
 'Field cultivator',
 'Field cultivate',
 'fall chisel plow, spring field cultivator',
 'disc, conventional, followed by bedding',
 'No-Till',
 'No Till',
 'Chisel plowed 5/4/15 Disc and finishing tool 5/6/15 ',
 'Chisel plowed 5/7/15 disc and field finisher 5/23/15',
 'Fall Chisel, Spring Turbo-Till',
 'Min-Till',
 'Cultivate, hip and row',
 'cultivate, hip, row',
 'Conventional disc tillage',
 'none',
 'Chisel',
 'Field cultivated',
 'Chisel Plow',
 'Conventional Tillage',
 'Moldboard plowed November\n',
 'Fall Diskchisel, Spring Culivator',
 'Cultivator ',
 'Cultivate',
 'Min-Till ',
 'Fall plow/Spring field cultivator',
 'Field Cultivator',
 'disk and hip',
 'till and hip',
 'disked, chisel plow and field cultivator',
 'harrowed, rototilled',
 'disc',
 '1 pass with soil finisher',
 'chisel plow',
 '2 passes with a field cultivator',
 'Two passes with disk, one pass with field conditioner, 30Ó beds were made with 8 row ripper-bedder for corn',
 'disk',
 'Fall Diskchisel / Spring Culivator',
 'Fall soil chisel, spring cultivator',
 'Chisel plow,cultivate',
 'field cultivate',
 'cultivate, hip and row',
 'disked, ripped, field cultivator',
 'Ripper Bed, rototill',
 'standard (disk plow)',
 'chisel, field cultivate',
 'Chisel plow followed by  cultivator',
 'field cultivate (twice)',
 'Chisel plow',
 'Chisel plowed on 12/14/17',
 'fall disk chisel, spring cultivator',
 'Heavy disk, Chisel plow, Field cultivator',
 'spring field cultivator',
 'Disked, chisil, disk',
 'Ripper Bed, Rototill',
 'disked and field conditioned',
 'a harrow 5 cm depth',
 'Chisel - field cultivator',
 'Chisel plow followed by cultivator',
 'field cultivate ',
 'Case IH 335 VT 4" deep ',
 'CaseIH VT 360 vertical tillage tool gone over 2X on 5/22',
 'CaseIH VT 360 vertical tillage tool gone over 2X on 5/23',
 'Fall Diskchisel, Spring Disk',
 'Cultivator',
 'disc harrow followed by chisel plow, field cultivator used to prepare final seed bed',
 'harrow, ripper bed, rototill',
 '15cm cultivator, seedbed preperation with power harrow',
 'soil finisher',
 'cultivate 2x',
 'Conventional tillage (disc) + ripped and bedded rows',
 'cultivator',
 'conventional, heavy disc, chisel plow, field cultivator',
 'Heavy Disk and then rows placed',
 'Chisel plow, disk, field cultivator',
 'Harrow, ripper bed, rototill',
 '15 cm deep with cultivator, Seedbed preparation with power harrow',
 'Field cultivator. Tillage with soil finisher',
 'Strip tillage',
 'Fall rip one pass tool, spring field cultivate',
 'conventional - Field Cultivator, disk',
 'CaseIH VT 360 vertical tillage tool gone over 2X on 5/18/2021',
 'CaseIH VT 360 vertical tillage tool gone over 2X on 5/18',
 'Conventional, heavy disc, chisel plow, field cultivator',
 'Disked the whole field and then rows were placed',
 'Disc, Dynadrive',
 'Rip, disk, field cultivator',
 'ripper bed, rototill',
 'Disk',
 'Disk, field cultivator, ripper/bedder',
 'Fall disk chisel, Spring cultivator',
 'conventional, heavy disc, chisel plow, and field cultivator',
 'Discing',
 'Disk, chisel plow, field cultivator',
 'Disc harrow and field conditioner',
 'Vertical tillage',
 'Disk. S-Tined or Field Conditioner. Rip and Bedded',
 'Disicing']

In [35]:
#convert all strings to lower case to group together same tillage methods with different upper and lower case formating
metadata['Pre-plant_tillage_method(s)'] = metadata['Pre-plant_tillage_method(s)'].str.lower()

In [36]:
#change spelling of disc to disk (alternate spelling)
metadata['Pre-plant_tillage_method(s)'] = metadata['Pre-plant_tillage_method(s)'].replace('disc', 'disk')

#minimal editing of values.
#for example, Manual weeding could be hand weed but went unaltered.

In [37]:
#col: In season tillage methods (186/272 missing values)
print(metadata['In-season_tillage_method(s)'].value_counts(dropna=False))

In-season_tillage_method(s)
NaN                                                         186
none                                                         44
Cultivator                                                   10
Hand hoeing                                                   4
CaseIH VT 360 vertical tillage tool gone over 2X on 5/30      3
Cultivator tilling                                            3
hand weed                                                     2
disc                                                          2
Disked on 05/17/18 AM, Rolling Harrow on 05/17/18 PM          2
cultivate                                                     2
disk                                                          1
cultivation                                                   1
plow                                                          1
Disked, chisel plow & final disking                           1
Disced and cultimulched                                       1
Field Cultivator                                              1
Chisel plow, disc, field cultivator                           1
harrow cultivation                                            1
2x cultivar, 10 cm and 15 cm                                  1
conventional                                                  1
cultivator                                                    1
Manual Weeding                                                1
na                                                            1
Cultivated with SuckUp plow                                   1
Name: count, dtype: int64

In [38]:
#convert all strings to lower case to group together same tillage methods with different upper and lower case formating
metadata['In-season_tillage_method(s)'] = metadata['In-season_tillage_method(s)'].str.lower()

In [39]:
#change disc to disk
metadata['In-season_tillage_method(s)'] = metadata['In-season_tillage_method(s)'].replace('disc', 'disk')

#minimal editing of values

In [40]:
#col: Issues (177/272 missing values, which are year-location with no issues, or no issues recorded, or no issues we searched for)
print(metadata['Issues'].value_counts(dropna=False))

#custom selected issues. no editing recquired
#order of issue could affect target + so no extra editing or grouping

Issues
NaN                                                       178
equipment                                                  21
water                                                       8
weed                                                        7
lodg                                                        3
equipment, water                                            3
animal                                                      3
stand                                                       3
water, lodg                                                 2
germination                                                 2
animal, equipment                                           2
lodg, equipment                                             2
equipment, weed                                             2
equipment, equipment                                        2
stand, water                                                2
germination, stand, equipment, equipment                    2
lodg, water                                                 1
water, water, lodg                                          1
feed, lodg, equipment, equipment, equipment                 1
weed, equipment, stunt, lodg, equipment                     1
water, stand                                                1
water, water, equipment, equipment                          1
water, animal                                               1
weed, germination                                           1
water, water, stand, equipment                              1
lodg, water, water                                          1
lodg, water, equipment, lodg, water                         1
equipment, animal, water                                    1
water, lodg, water, water                                   1
water, rot                                                  1
germination, equipment                                      1
wind damage                                                 1
water, rot, lodg, equipment, water                          1
equipment, lodg, equipment                                  1
lodg, lodg                                                  1
stunt                                                       1
stand, equipment, water                                     1
equipment, equipment, equipment, rot, equipment, water      1
wind damage, water                                          1
lodg, lodg, lodg, wind damage                               1
weed, water                                                 1
animal, equipment, water                                    1
equipment, water, stand                                     1
equipment, germination, equipment                           1
equipment, water, weed                                      1
water, emergence, wind damage                               1
Name: count, dtype: int64

In [41]:
#Type of Planter (25/272 missing values)
print(metadata['Type_of_planter (fluted cone; belt cone; air planter)'].value_counts(dropna=False))

Type_of_planter (fluted cone; belt cone; air planter)
air planter                                       151
fluted cone                                        36
belt cone                                          26
NaN                                                25
Air planter                                         7
SRES Air                                            3
vacuum precision planter                            3
air                                                 2
Almaco TP2                                          2
Fluted cone                                         2
4 row almaco GPS Drop precision vacuum planter      2
Almaco Seed Pro 360                                 2
Almaco 4-row air planter                            2
Fluted Cone                                         1
air (Seedpro)                                       1
John Deere 7300                                     1
vacuum planter                                      1
Vacuum                                              1
John Deere 71 cone planter                          1
sres packing planter                                1
Vacum                                               1
flute cone                                          1
Name: count, dtype: int64

In [42]:
#convert all strings to lower case
metadata['Type_of_planter (fluted cone; belt cone; air planter)'] = metadata['Type_of_planter (fluted cone; belt cone; air planter)'].str.lower()

In [43]:
#fix vacum typo to vacuum
metadata['Type_of_planter (fluted cone; belt cone; air planter)'] = metadata['Type_of_planter (fluted cone; belt cone; air planter)'].replace('vacum', 'vacuum')
#fix flute cone typo to fluted cone
metadata['Type_of_planter (fluted cone; belt cone; air planter)'] = metadata['Type_of_planter (fluted cone; belt cone; air planter)'].replace('flute cone', 'fluted cone')
#change air string to air planter
metadata['Type_of_planter (fluted cone; belt cone; air planter)'] = metadata['Type_of_planter (fluted cone; belt cone; air planter)'].replace('air', 'air planter')

In [44]:
#col: irrigated (222 missing values, could be no irrigation and/or not recorded)
print(metadata['Irrigated'].value_counts(dropna=False))
#are NaN unirrigated. Most likely but should I make assumption
#for now I am not**

Irrigated
NaN    222
no      31
yes     19
Name: count, dtype: int64

In [45]:
#convert all NaN in metadata df to n/a (not applicable)
#assume missing values are missing because feature was n/a
#could also be not recorded (data collection and recording problem)
metadata = metadata.fillna('n/a')

In [46]:
metadata.head(5)

,Year,Env,Experiment_Code,Treatment,"Soil_Taxonomic_ID and horizon description, if known",Previous_Crop,Pre-plant_tillage_method(s),In-season_tillage_method(s),Issues,lon,lat,Type_of_planter (fluted cone; belt cone; air planter),Irrigated
0,2014,DEH1_2014,DEH1,n/a,n/a,Soybeans,conventional,n/a,n/a,n/a,n/a,air planter,n/a
1,2014,GAH1_2014,GAH1,n/a,n/a,cotton,conventional,n/a,n/a,n/a,n/a,fluted cone,n/a
2,2014,IAH1a_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,n/a,n/a,air planter,n/a
3,2014,IAH1b_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,n/a,n/a,air planter,n/a
4,2014,IAH1c_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,n/a,n/a,air planter,n/a

In [47]:
metadata.to_csv('extracted_metadata_features_with_missing_values_filled_in.csv', index=False)

In [6]:
missing_values_2 = metadata.isnull().sum()
print(f"Missing values per column:\n{missing_values_2}")
#no missing values

Missing values per column:
Year                                                     0
Env                                                      0
Experiment_Code                                          0
Treatment                                                0
Soil_Taxonomic_ID and horizon description, if known      0
Previous_Crop                                            0
Pre-plant_tillage_method(s)                              0
In-season_tillage_method(s)                              0
Issues                                                   0
lon                                                      0
lat                                                      0
Type_of_planter (fluted cone; belt cone; air planter)    0
Irrigated                                                0
dtype: int64

#### Find substitute year-locations to fill in missing lat and lon values
* Year-locations grown in same city was used as subsitutes for year-locations with missing lat and lon measurements

For year-locations with no substitute found:
* Either lat/lons were imputed manually after searching (if city was known) or
* An year-location in same region was used as substitute (less confidence in subs)

In [46]:
metadata = pd.read_csv('extracted_metadata_features_with_missing_values_filled_in.csv',keep_default_na=False)
#keep n/a as a string

In [47]:
metadata.head(5)

,Year,Env,Experiment_Code,Treatment,"Soil_Taxonomic_ID and horizon description, if known",Previous_Crop,Pre-plant_tillage_method(s),In-season_tillage_method(s),Issues,lon,lat,Type_of_planter (fluted cone; belt cone; air planter),Irrigated
0,2014,DEH1_2014,DEH1,n/a,n/a,Soybeans,conventional,n/a,n/a,n/a,n/a,air planter,n/a
1,2014,GAH1_2014,GAH1,n/a,n/a,cotton,conventional,n/a,n/a,n/a,n/a,fluted cone,n/a
2,2014,IAH1a_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,n/a,n/a,air planter,n/a
3,2014,IAH1b_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,n/a,n/a,air planter,n/a
4,2014,IAH1c_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,n/a,n/a,air planter,n/a

In [48]:
#extract rows with missing lat and lon values
missing_lat_lon = metadata[(metadata['lat'] == 'n/a') & (metadata['lon'] == 'n/a')]
print(len(missing_lat_lon))

#list of envs with missing lat and lon measurements
missing_env_list = missing_lat_lon['Env'].tolist()

#all 52 missing envs selected

52

In [49]:
missing_env_list
#missing lat and lon measurements across many years. mainly 2014.

['DEH1_2014',
 'GAH1_2014',
 'IAH1a_2014',
 'IAH1b_2014',
 'IAH1c_2014',
 'IAH2_2014',
 'IAH3_2014',
 'IAH4_2014',
 'ILH1_2014',
 'INH1_2014',
 'MNH1_2014',
 'MOH1_2014',
 'MOH2_2014',
 'NCH1_2014',
 'NEH1_2014',
 'NEH2_2014',
 'NEH3_2014',
 'NYH1_2014',
 'NYH2_2014',
 'ONH1_2014',
 'ONH2_2014',
 'TXH1_2014',
 'TXH2_2014',
 'WIH1_2014',
 'NYH1_2015',
 'TXH2_2015',
 'IAH1_2016',
 'IAH2_2016',
 'IAH3_2016',
 'IAH4_2016',
 'NEH1_2016',
 'NEH4_2016',
 'NYH1_2016',
 'TXH2_2016',
 'ILH1_2017',
 'INH1_2017',
 'MNH1_2017',
 'TXH1-Dry_2017',
 'TXH1-Early_2017',
 'TXH1-Late_2017',
 'TXH2_2017',
 'IAH1_2018',
 'IAH2_2018',
 'IAH3_2018',
 'IAH4_2018',
 'TXH2_2018',
 'NEH2_2019',
 'TXH4_2019',
 'NEH2_2020',
 'NEH3_2020',
 'ILH1_2021',
 'NYS1_2021']

In [50]:
#import original metadata file with City info
metadata_org = pd.read_csv('2_Training_Meta_Data_2014_2023.csv')

In [51]:
metadata_org.head(5)

,Year,Env,Experiment_Code,Treatment,City,Farm,Field,Trial_ID (Assigned by collaborator for internal reference),"Soil_Taxonomic_ID and horizon description, if known","Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)",...,Cardinal_Heading_Pass_1,Irrigated,Issue/comment_#1,Issue/comment_#2,Issue/comment_#3,Issue/comment_#4,Issue/comment_#5,Issue/comment_#6,Issue/comment_#7,Issue/comment_#8
0,2014,DEH1_2014,DEH1,NaN,Georgetown,Elbert N. & Ann V. Carvel Research & Education...,27AB,NaN,NaN,9079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,GAH1_2014,GAH1,NaN,Tifton,USDA - Bellflower experimental farm,18,NaN,NaN,8427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,IAH1a_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH...",NaN
3,2014,IAH1b_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH...",NaN
4,2014,IAH1c_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH...",NaN

In [52]:
#create a dataframe with Env, City columns of instances WITHOUT lat and lon measurements
missing_env_cities = metadata_org[metadata_org['Env'].isin(missing_env_list)][['Env', 'City']]

In [53]:
missing_env_cities.head(5)

          Env        City
0   DEH1_2014  Georgetown
1   GAH1_2014      Tifton
2  IAH1a_2014        Ames
3  IAH1b_2014        Ames
4  IAH1c_2014        Ames

In [54]:
#create a dataframe with Env, City columns of instances WITH lat and lon measurement
#This serves as a pool of potential substitute envs
sub_pool_env_cities = metadata_org[
    metadata_org['Latitude_of_Field_Corner_#1 (lower left)'].notna() & metadata_org['Longitude_of_Field_Corner_#1 (lower left)'].notna()][['Env', 'City']]

In [55]:
len(sub_pool_env_cities), len(missing_env_cities)
#272 year-locations alltogether (see above)
#all envs other than 52 missing envs are in potential substitute pool

(220, 52)

In [56]:
#find substitute envs from sub pool using pandas merge function
substitute_envs = missing_env_cities.merge(
    sub_pool_env_cities,
    on='City',
    how='left',  #ensures envs without substitutes are retained
    suffixes=('_missing', '_substitute')
)

In [57]:
substitute_envs.head(5)
#mulitple subs from across different years found

  Env_missing        City Env_substitute
0   DEH1_2014  Georgetown      DEH1_2015
1   DEH1_2014  Georgetown      DEH1_2016
2   DEH1_2014  Georgetown      DEH1_2017
3   DEH1_2014  Georgetown      DEH1_2018
4   DEH1_2014  Georgetown      DEH1_2019

In [58]:
#select only first substitute env for those with many substitutes.
first_subs_envs = substitute_envs_by_city.groupby('Env_missing').first().reset_index()

In [59]:
len(first_subs_envs)
#all 52 missing year-locations in df

52

In [97]:
first_subs_envs.to_csv('subs_lat_lon_metadata.csv', index=False)

In [60]:
first_subs_envs.head(5)

  Env_missing            City Env_substitute
0   DEH1_2014      Georgetown      DEH1_2015
1   GAH1_2014          Tifton      GAH1_2015
2   IAH1_2016  Crawfordsville      IAH4_2015
3   IAH1_2018  Crawfordsville      IAH4_2015
4  IAH1a_2014            Ames      IAH1_2015

In [61]:
#check if any missing year-locations have no subs
print('missing cities/subs:')
first_subs_envs.isna().sum()
#5 missing cities
#8 missing env with no subs

missing cities/subs:

Env_missing       0
City              5
Env_substitute    8
dtype: int64

In [62]:
#find year-locations with no subs found or no city info
still_missing = first_subs_envs[
    first_subs_envs['City'].isna() | first_subs_envs['Env_substitute'].isna()]

In [63]:
still_missing
#Texas why you always a problem for me
#8 instances no subs:
#In 5 instances, no cities given 
#In 3 instances, cities are given. Lubbock and Halfway are cities in Texas. find these lats/lons by searching.
#what do do with rest 5?

   Env_missing     City Env_substitute
17   ILH1_2017     None           None
20   INH1_2017     None           None
45   TXH2_2014  Halfway           None
46   TXH2_2015     None           None
47   TXH2_2016     None           None
48   TXH2_2017     None           None
49   TXH2_2018  Lubbock           None
50   TXH4_2019  Lubbock           None

In [71]:
#find more info on ILH1
metadata_org[metadata_org['Experiment_Code'] == 'ILH1']
#looks like after 2016 ILHI has been in Champaign
#therefore let ILH1_2017 substitute env be ILH1_2018

,Year,Env,Experiment_Code,Treatment,City,Farm,Field,Trial_ID (Assigned by collaborator for internal reference),"Soil_Taxonomic_ID and horizon description, if known","Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)",...,Cardinal_Heading_Pass_1,Irrigated,Issue/comment_#1,Issue/comment_#2,Issue/comment_#3,Issue/comment_#4,Issue/comment_#5,Issue/comment_#6,Issue/comment_#7,Issue/comment_#8
8,2014,ILH1_2014,ILH1,NaN,Urbana,Maxwell Farms,MF500,NaN,NaN,8653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,ILH1_2015,ILH1,NaN,Urbana,NaN,NaN,NaN,NaN,8653,...,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2016,ILH1_2016,ILH1,Standard,Champaign,Maxwell Farm,MF-500,NaN,Flanagan Silt Loam (154A),8653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2017,ILH1_2017,ILH1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,2018,ILH1_2018,ILH1,Standard,Champaign,Maxwell Farm,MF200,ILH1,Flanagan Silt Loam,8653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,2019,ILH1_2019,ILH1,Standard,Champaign,Maxwell Farm,MF1000,ILH1,Flanagan Silt Loam,8653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,2021,ILH1_2021,ILH1,Standard,Champaign,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,2022,ILH1_2022,ILH1,Standard,Champaign,South Farms,AnSci200,NaN,NaN,8653,...,NaN,no,Link to additional weather source available on...,"In general, dry and hot summer.",NaN,NaN,NaN,NaN,NaN,NaN
253,2023,ILH1_2023,ILH1,Standard,Champaign,South Farms,S700,NaN,"Drummer silty clay loam, 0 to 2 percent slopes...",8653,...,NaN,no,Link to additional weather source available on...,"In general, dry and hot summer.",NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
#more info on INH1
metadata_org[metadata_org['Experiment_Code'] == 'INH1']
#looks like INH1 is always in West Lafayette and farm is ACRE
#therefore let INH1_2017 sub be INH1_2018

,Year,Env,Experiment_Code,Treatment,City,Farm,Field,Trial_ID (Assigned by collaborator for internal reference),"Soil_Taxonomic_ID and horizon description, if known","Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)",...,Cardinal_Heading_Pass_1,Irrigated,Issue/comment_#1,Issue/comment_#2,Issue/comment_#3,Issue/comment_#4,Issue/comment_#5,Issue/comment_#6,Issue/comment_#7,Issue/comment_#8
9,2014,INH1_2014,INH1,NaN,West Lafayette,Purdue ACRE,97/98,NaN,NaN,8657,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2015,INH1_2015,INH1,NaN,West Lafayette,NaN,NaN,NaN,NaN,8657,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2016,INH1_2016,INH1,NaN,West Lafayette,Purdue ACRE,54 North,NaN,NaN,8657,...,0,NaN,"At planting, a row unit plugged up with a clod...",July 14. Noticed that Moisture sensor wire was...,NaN,NaN,NaN,NaN,NaN,NaN
89,2017,INH1_2017,INH1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,2018,INH1_2018,INH1,Standard,West Lafayette,Purdue ACRE,54NN,GxE,RcA-Raub-Brenton Complex,8657,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,2019,INH1_2019,INH1,Standard,West Lafayette,Purdue ACRE,42,INH1,Raub-Brenton complex,8657,...,0,NaN,Bulk Density sensor started actigng up during ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,2020,INH1_2020,INH1,Standard,West Lafayette,Purdue ACRE,54N,G2F,Raub-Brenton complex,8657,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,2021,INH1_2021,INH1,Standard,West Lafayette,Purdue ACRE,42,GxE,Chalmers Silty Clay Loam,8657,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,2022,INH1_2022,INH1,Standard,West Lafayette,ACRE,78,GxE,Raub/Brenton Complex,8657,...,0,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,2023,INH1_2023,INH1,Standard,West Lafayette,ACRE,42,GxE,Chalmers Silty Clay Loam,8657,...,0,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
#more info on TXH2
metadata_org[metadata_org['Experiment_Code'] == 'TXH2']
#same problem as weather subs: could be Halfway, Lubbock or College Station (no consistency during 2015-2017 period)
#could either assume mode: College station or assume previous year: Halfway
#lets remain consistent with weather sub and assume College Station
#subs for TXH2_2015,2016,2017 is TXH2_2019

,Year,Env,Experiment_Code,Treatment,City,Farm,Field,Trial_ID (Assigned by collaborator for internal reference),"Soil_Taxonomic_ID and horizon description, if known","Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)",...,Cardinal_Heading_Pass_1,Irrigated,Issue/comment_#1,Issue/comment_#2,Issue/comment_#3,Issue/comment_#4,Issue/comment_#5,Issue/comment_#6,Issue/comment_#7,Issue/comment_#8
22,2014,TXH2_2014,TXH2,NaN,Halfway,Halfway,pivot,NaN,NaN,8630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2015,TXH2_2015,TXH2,NaN,NaN,NaN,NaN,NaN,NaN,8630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2016,TXH2_2016,TXH2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,2017,TXH2_2017,TXH2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,2018,TXH2_2018,TXH2,Standard,Lubbock,NaN,NaN,NaN,NaN,8630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,2019,TXH2_2019,TXH2,Standard,College Station,NaN,NaN,NaN,NaN,14790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,2020,TXH2_2020,TXH2,Dry Land,College Station,NaN,NaN,NaN,NaN,14790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,2021,TXH2_2021,TXH2,Dryland optimal,College Station,Texas A&M Research Farm,302,G2F2,Belk Clay Loam (BaA) / Ships Clay Loam (ShA),14790,...,310,NaN,There was a substantial morning glory infestation,Coordinates approximate from Google Maps,NaN,NaN,NaN,NaN,NaN,NaN
240,2022,TXH2_2022,TXH2,Drought,College Station,Texas A&M Research Farm,302,TXH,NaN,14790,...,312,no,The post harvest herbicide spray was to get ah...,Plots 325-500 where irrigated due to a busted ...,NaN,NaN,NaN,NaN,NaN,NaN
267,2023,TXH2_2023,TXH2,Drought,College Station,Texas Research Farm,224,TXH2,NaN,NaN,...,45,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
#Add missing envs and subs into first_subs_envs df

# Define cities and env subs for 5 missing year-locations in a dictionary
subs_round_2 = {
    'ILH1_2017': {'City': 'Champaign', 'Env_substitute': 'ILH1_2018'},
    'INH1_2017': {'City': 'West Lafayette', 'Env_substitute': 'INH1_2018'},
    'TXH2_2015': {'City': 'College Station', 'Env_substitute': 'TXH2_2019'},
    'TXH2_2016': {'City': 'College Station', 'Env_substitute': 'TXH2_2019'},
    'TXH2_2017': {'City': 'College Station', 'Env_substitute': 'TXH2_2019'},
}

#loops through each specified env and searches for them in first_subs_envs df
for env, info in subs_round_2.items():
    first_subs_envs.loc[first_subs_envs['Env_missing'] == env, 'City'] = info['City'] #add respective city info if env matches env in dictionary
    first_subs_envs.loc[first_subs_envs['Env_missing'] == env, 'Env_substitute'] = info['Env_substitute'] #add sub info in same way

In [77]:
first_subs_envs.isna().sum()
#3 remaining missing year-locations, are ones where city is known.

Env_missing       0
City              0
Env_substitute    3
dtype: int64

In [80]:
first_subs_envs_v2 = first_subs_envs.dropna()
#remember TXH2_2014,2018,TXH4_2019 need to be added after internet search. remove them for now

len(first_subs_envs_v2)
#49 subs found for lat/lon imputation.

49

In [81]:
first_subs_envs_v2.to_csv('most_subs_lat_lon_metadata.csv', index=False)

In [86]:
#search and find coordinates for TXH2_2018, TXH4_2019, TXH2_2014
still_missing

   Env_missing     City Env_substitute
17   ILH1_2017     None           None
20   INH1_2017     None           None
45   TXH2_2014  Halfway           None
46   TXH2_2015     None           None
47   TXH2_2016     None           None
48   TXH2_2017     None           None
49   TXH2_2018  Lubbock           None
50   TXH4_2019  Lubbock           None

In [83]:
#determien how lat and lon are reported
metadata.tail(5)

#lat  -90 to 90 (south-north) 
#long -180 to 180 (west-east) 

#Lubbock coordinates: lat= 33.5779, lon= -101.8552 for TXH2_2018, TXH4_2019 
#ref: https://www.latlong.net/place/lubbock-tx-usa-1172.html#:~:text=Lubbock%2C%20TX%2C%20USA%20Lat%20Long,°%2051%27%2018.2592%27%27%20W.

#Halfway coordinates: lat=34.1881, lon=-101.9524 for TXH2_201411
#ref: https://g.co/kgs/XvDuHWH

,Year,Env,Experiment_Code,Treatment,"Soil_Taxonomic_ID and horizon description, if known",Previous_Crop,Pre-plant_tillage_method(s),In-season_tillage_method(s),Issues,lon,lat,Type_of_planter (fluted cone; belt cone; air planter),Irrigated
267,2023,TXH2_2023,TXH2,Drought,n/a,Sorghum,discing,cultivator,n/a,-96.43165871,30.55034681,belt cone,no
268,2023,TXH3_2023,TXH3,Late Planting,n/a,Sorghum,disicing,cultivator,n/a,-96.4310292925,30.549647405,belt cone,yes
269,2023,WIH1_2023,WIH1,Standard,"PoA, TrB",Soybeans,field cultivator,n/a,n/a,-89.5297795,43.0554021125,air planter,no
270,2023,WIH2_2023,WIH2,Standard,"PnA, PnB",Soybeans,field cultivator,n/a,equipment,-89.3841457,43.304242975,air planter,no
271,2023,WIH3_2023,WIH3,Standard,Sandy,n/a,"disc, dynadrive",n/a,equipment,-89.54400899999999,44.115644625,air planter,yes

In [108]:
# Create custom dict with lat and lon info for 3 missing year-locations above
lat_lon_info = {
    'TXH2_2018': {'Lat': 33.5779, 'Lon': -101.8552},  # Lubbock
    'TXH4_2019': {'Lat': 33.5779, 'Lon': -101.8552},  # Lubbock
    'TXH2_2014': {'Lat': 34.1881, 'Lon': -101.9524},  # Halfway
}

# Impute in missing lat and lon for above year-locations only directly into metadata df
for env, coords in lat_lon_info.items():
    metadata.loc[metadata['Env'] == env, 'lat'] = coords['Lat']
    metadata.loc[metadata['Env'] == env, 'lon'] = coords['Lon']

In [90]:
#impute lat and lon for rest of missing year-locations using subs
first_subs_envs_v2.head(5)

  Env_missing            City Env_substitute
0   DEH1_2014      Georgetown      DEH1_2015
1   GAH1_2014          Tifton      GAH1_2015
2   IAH1_2016  Crawfordsville      IAH4_2015
3   IAH1_2018  Crawfordsville      IAH4_2015
4  IAH1a_2014            Ames      IAH1_2015

In [109]:
# Iterate over each row in first_subs_envs_v2
for _, row in first_subs_envs_v2.iterrows():
    env_missing = row['Env_missing'] #define missing env
    env_substitute = row['Env_substitute'] #define sub for missing env
    
    # Get lat and lon of the substitute env from metadata
    lat_substitute = metadata.loc[metadata['Env'] == env_substitute, 'lat'].values #find and store subs lat value
    lon_substitute = metadata.loc[metadata['Env'] == env_substitute, 'lon'].values #find and store subs lon value
    
    # Impute lat and lon for the missing env in metadata
    metadata.loc[metadata['Env'] == env_missing, 'lat'] = lat_substitute #replace missing lat with sub
    metadata.loc[metadata['Env'] == env_missing, 'lon'] = lon_substitute #replace missing lon with sub

In [110]:
metadata.head(5)
#first 5 have been imputed

,Year,Env,Experiment_Code,Treatment,"Soil_Taxonomic_ID and horizon description, if known",Previous_Crop,Pre-plant_tillage_method(s),In-season_tillage_method(s),Issues,lon,lat,Type_of_planter (fluted cone; belt cone; air planter),Irrigated
0,2014,DEH1_2014,DEH1,n/a,n/a,Soybeans,conventional,n/a,n/a,-75.4656925,38.62935675,air planter,n/a
1,2014,GAH1_2014,GAH1,n/a,n/a,cotton,conventional,n/a,n/a,-83.555095,31.505771,fluted cone,n/a
2,2014,IAH1a_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,-93.693369725,41.99809519750001,air planter,n/a
3,2014,IAH1b_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,-93.693369725,41.99809519750001,air planter,n/a
4,2014,IAH1c_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,-93.693369725,41.99809519750001,air planter,n/a

In [111]:
metadata['lat'].isna().sum(), metadata['lon'].isna().sum()
#no NaN created

(np.int64(0), np.int64(0))

In [112]:
metadata['lat'].str.contains('n/a').sum(),metadata['lon'].str.contains('n/a').sum()
#all lats and lons imputed

(0, 0)

In [113]:
metadata.to_csv('extracted_metadata_features_lat_lon_imputed_missing_values_filled_in.csv',index=False)

In [114]:
len(metadata)
#all 272 year-locations preserved

272

#### Label Encode and/or Normalise all metadata/management features

In [2]:
metadata = pd.read_csv('extracted_metadata_features_lat_lon_imputed_missing_values_filled_in.csv', keep_default_na=False)

In [3]:
metadata.columns

Index(['Year', 'Env', 'Experiment_Code', 'Treatment',
       'Soil_Taxonomic_ID and horizon description, if known', 'Previous_Crop',
       'Pre-plant_tillage_method(s)', 'In-season_tillage_method(s)', 'Issues',
       'lon', 'lat', 'Type_of_planter (fluted cone; belt cone; air planter)',
       'Irrigated'],
      dtype='object')

In [4]:
metadata.head(5)

,Year,Env,Experiment_Code,Treatment,"Soil_Taxonomic_ID and horizon description, if known",Previous_Crop,Pre-plant_tillage_method(s),In-season_tillage_method(s),Issues,lon,lat,Type_of_planter (fluted cone; belt cone; air planter),Irrigated
0,2014,DEH1_2014,DEH1,n/a,n/a,Soybeans,conventional,n/a,n/a,-75.465693,38.629357,air planter,n/a
1,2014,GAH1_2014,GAH1,n/a,n/a,cotton,conventional,n/a,n/a,-83.555095,31.505771,fluted cone,n/a
2,2014,IAH1a_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,-93.693370,41.998095,air planter,n/a
3,2014,IAH1b_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,-93.693370,41.998095,air planter,n/a
4,2014,IAH1c_2014,IAH1,n/a,n/a,Soybeans,field cultivator,n/a,n/a,-93.693370,41.998095,air planter,n/a

In [6]:
metadata.dtypes
#only label encode metdata cols

Year                                                       int64
Env                                                       object
Experiment_Code                                           object
Treatment                                                 object
Soil_Taxonomic_ID and horizon description, if known       object
Previous_Crop                                             object
Pre-plant_tillage_method(s)                               object
In-season_tillage_method(s)                               object
Issues                                                    object
lon                                                      float64
lat                                                      float64
Type_of_planter (fluted cone; belt cone; air planter)     object
Irrigated                                                 object
dtype: object

In [42]:
from sklearn.preprocessing import LabelEncoder

#create a function to label encode cols in any df
def label_encode_features(df: pd.DataFrame, exclude_cols: list = None):
    """
    Label encodes all object columns in a dataframe, excluding any specified in exclude_cols.
    Deletes the original columns after encoding.
        
    Returns:
        pd.DataFrame: DataFrame with label-encoded columns replacing orginal columns
    """
    df = df.copy()
    le = LabelEncoder()
    
    if exclude_cols is None:
        exclude_cols = []
    
    for col in df.columns:
        if col not in exclude_cols and df[col].dtype == 'object': #only proceed if cols are objects
            df[col + '_Label'] = le.fit_transform(df[col].astype(str)) #converts values in object cols to strings
            df.drop(columns=col, inplace=True)
    
    return df

In [43]:
#apply function
metadata_encoded = label_encode_features(metadata, exclude_cols=['Env','Year','lat', 'lon']) 
#do not label encode numeric features + Env for merging

In [44]:
metadata_encoded.head(5)

,Year,Env,lon,lat,Experiment_Code_Label,Treatment_Label,"Soil_Taxonomic_ID and horizon description, if known_Label",Previous_Crop_Label,Pre-plant_tillage_method(s)_Label,In-season_tillage_method(s)_Label,Issues_Label,Type_of_planter (fluted cone; belt cone; air planter)_Label,Irrigated_Label
0,2014,DEH1_2014,-75.465693,38.629357,3,11,48,6,23,18,24,2,0
1,2014,GAH1_2014,-83.555095,31.505771,4,11,48,10,23,18,24,7,0
2,2014,IAH1a_2014,-93.693370,41.998095,7,11,48,6,69,18,24,2,0
3,2014,IAH1b_2014,-93.693370,41.998095,7,11,48,6,69,18,24,2,0
4,2014,IAH1c_2014,-93.693370,41.998095,7,11,48,6,69,18,24,2,0

In [45]:
print('file saving ...')
metadata_encoded.to_csv('metadata_label_encoded.csv', index=False)
print('file saved')

file saving ...
file saved

In [46]:
from sklearn.preprocessing import MinMaxScaler

def normalize_features(df: pd.DataFrame, exclude_cols: list = None):
    """
    Normalizes all numeric columns in a dataframe using MinMaxScaler, excluding any specified in exclude_cols. 
    Deletes the original columns after normalization.
    
    Returns:
        pd.DataFrame: DataFrame with normalized columns replacing original columns
    """
    df = df.copy()
    scaler = MinMaxScaler()
    
    if exclude_cols is None:
        exclude_cols = []

    for col in df.select_dtypes(include=['number']).columns: #only proceed if features are numeric regardless of whether it is int or float
        if col not in exclude_cols:
            df[col + '_Normalized'] = scaler.fit_transform(df[[col]])
            df.drop(columns=col, inplace=True)

    return df

In [47]:
metadata_encoded_normalised = normalize_features(metadata_encoded, exclude_cols=['Env']) #do not normalise for merging

In [48]:
metadata_encoded_normalised.head(5)

,Env,Year_Normalized,lon_Normalized,lat_Normalized,Experiment_Code_Label_Normalized,Treatment_Label_Normalized,"Soil_Taxonomic_ID and horizon description, if known_Label_Normalized",Previous_Crop_Label_Normalized,Pre-plant_tillage_method(s)_Label_Normalized,In-season_tillage_method(s)_Label_Normalized,Issues_Label_Normalized,Type_of_planter (fluted cone; belt cone; air planter)_Label_Normalized,Irrigated_Label_Normalized
0,DEH1_2014,0.0,0.256959,0.385771,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0
1,GAH1_2014,0.0,0.186578,0.046148,0.093023,1.0,0.979592,0.588235,0.247312,0.857143,0.533333,0.466667,0.0
2,IAH1a_2014,0.0,0.098371,0.546379,0.162791,1.0,0.979592,0.352941,0.741935,0.857143,0.533333,0.133333,0.0
3,IAH1b_2014,0.0,0.098371,0.546379,0.162791,1.0,0.979592,0.352941,0.741935,0.857143,0.533333,0.133333,0.0
4,IAH1c_2014,0.0,0.098371,0.546379,0.162791,1.0,0.979592,0.352941,0.741935,0.857143,0.533333,0.133333,0.0

In [49]:
metadata_encoded_normalised.to_csv('metadata_label_encoded_normalised.csv', index=False)

In [2]:
#merge with weather and snp data

#import snp_weather label encoded/normalised csv
print('importing files...')
snp_weather = pd.read_csv('final_snp_weather_trait_data_label_encoded_year_and_labels_normalised.csv')
metadata_encoded_normalised = pd.read_csv('metadata_label_encoded_normalised.csv')
print('files imported')

importing files...
files imported

In [3]:
snp_weather.head(5)
#Unnamed:0 because did not do index=False when saving as csv

,Unnamed: 0,Env,Year,Hybrid,Yield_Mg_ha,S1_1007742,S1_1020677,S1_2018002,S1_2101934,S1_2275970,...,T2M_GDD - Week 31,T2M_MAX - Week 31,T2M_MIN - Week 31,WS2M - Week 31,Growth_Cycle_Weeks,Hybrid_Label,Env_Label,Year_Normalized,Hybrid_Label_Normalized,Env_Label_Normalized
0,0,DEH1_2014,2014,M0088/LH185,5.721725,0.5,0.5,0.0,0.5,0.5,...,0.0,0.0,0.0,0.0,21.0,1123,10,0.0,0.227466,0.037037
1,1,DEH1_2014,2014,M0143/LH185,11.338246,0.0,0.5,0.0,0.5,0.5,...,0.0,0.0,0.0,0.0,21.0,1149,10,0.0,0.232732,0.037037
2,2,DEH1_2014,2014,M0003/LH185,6.540810,0.5,0.5,0.0,0.5,0.5,...,0.0,0.0,0.0,0.0,21.0,992,10,0.0,0.200932,0.037037
3,3,DEH1_2014,2014,M0035/LH185,10.366857,0.5,0.5,0.0,0.5,0.5,...,0.0,0.0,0.0,0.0,21.0,1062,10,0.0,0.215110,0.037037
4,4,DEH1_2014,2014,M0052/LH185,10.908814,0.5,0.5,0.0,0.5,0.5,...,0.0,0.0,0.0,0.0,21.0,1084,10,0.0,0.219567,0.037037

In [3]:
#drop Hybrid, Year,Env_Label, Hybrid_Label
#remove Env after merging
snp_weather = snp_weather.drop(columns=['Year', 'Hybrid', 'Env_Label', 'Hybrid_Label'])

In [4]:
#drop unnamed:0
snp_weather = snp_weather.drop(columns=['Unnamed: 0'])

In [5]:
len(snp_weather)
#162535 instances

162535

In [6]:
snp_weather.head(5)

,Env,Yield_Mg_ha,S1_1007742,S1_1020677,S1_2018002,S1_2101934,S1_2275970,S1_2800964,S1_2811950,S1_2888631,...,T2MDEW - Week 31,T2M_DIFF_SUM - Week 31,T2M_GDD - Week 31,T2M_MAX - Week 31,T2M_MIN - Week 31,WS2M - Week 31,Growth_Cycle_Weeks,Year_Normalized,Hybrid_Label_Normalized,Env_Label_Normalized
0,DEH1_2014,5.721725,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.227466,0.037037
1,DEH1_2014,11.338246,0.0,0.5,0.0,0.5,0.5,0.5,0.5,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.232732,0.037037
2,DEH1_2014,6.540810,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.200932,0.037037
3,DEH1_2014,10.366857,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.215110,0.037037
4,DEH1_2014,10.908814,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.219567,0.037037

In [8]:
metadata_encoded_normalised.head(5)

,Env,Year_Normalized,lon_Normalized,lat_Normalized,Experiment_Code_Label_Normalized,Treatment_Label_Normalized,"Soil_Taxonomic_ID and horizon description, if known_Label_Normalized",Previous_Crop_Label_Normalized,Pre-plant_tillage_method(s)_Label_Normalized,In-season_tillage_method(s)_Label_Normalized,Issues_Label_Normalized,Type_of_planter (fluted cone; belt cone; air planter)_Label_Normalized,Irrigated_Label_Normalized
0,DEH1_2014,0.0,0.256959,0.385771,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0
1,GAH1_2014,0.0,0.186578,0.046148,0.093023,1.0,0.979592,0.588235,0.247312,0.857143,0.533333,0.466667,0.0
2,IAH1a_2014,0.0,0.098371,0.546379,0.162791,1.0,0.979592,0.352941,0.741935,0.857143,0.533333,0.133333,0.0
3,IAH1b_2014,0.0,0.098371,0.546379,0.162791,1.0,0.979592,0.352941,0.741935,0.857143,0.533333,0.133333,0.0
4,IAH1c_2014,0.0,0.098371,0.546379,0.162791,1.0,0.979592,0.352941,0.741935,0.857143,0.533333,0.133333,0.0

In [7]:
#drop Year_Normalised because it is already in snp_weather
metadata_encoded_normalised = metadata_encoded_normalised.drop(columns=['Year_Normalized'])

In [8]:
metadata_encoded_normalised.columns
#merge on Env, add 11 management features

Index(['Env', 'lon_Normalized', 'lat_Normalized',
       'Experiment_Code_Label_Normalized', 'Treatment_Label_Normalized',
       'Soil_Taxonomic_ID and horizon description, if known_Label_Normalized',
       'Previous_Crop_Label_Normalized',
       'Pre-plant_tillage_method(s)_Label_Normalized',
       'In-season_tillage_method(s)_Label_Normalized',
       'Issues_Label_Normalized',
       'Type_of_planter (fluted cone; belt cone; air planter)_Label_Normalized',
       'Irrigated_Label_Normalized'],
      dtype='object')

In [9]:
snp_weather_management = pd.merge(snp_weather, metadata_encoded_normalised, on='Env', how='inner')

In [12]:
snp_weather_management.head(5)

,Env,Yield_Mg_ha,S1_1007742,S1_1020677,S1_2018002,S1_2101934,S1_2275970,S1_2800964,S1_2811950,S1_2888631,...,lat_Normalized,Experiment_Code_Label_Normalized,Treatment_Label_Normalized,"Soil_Taxonomic_ID and horizon description, if known_Label_Normalized",Previous_Crop_Label_Normalized,Pre-plant_tillage_method(s)_Label_Normalized,In-season_tillage_method(s)_Label_Normalized,Issues_Label_Normalized,Type_of_planter (fluted cone; belt cone; air planter)_Label_Normalized,Irrigated_Label_Normalized
0,DEH1_2014,5.721725,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,...,0.385771,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0
1,DEH1_2014,11.338246,0.0,0.5,0.0,0.5,0.5,0.5,0.5,0.5,...,0.385771,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0
2,DEH1_2014,6.540810,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,...,0.385771,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0
3,DEH1_2014,10.366857,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,...,0.385771,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0
4,DEH1_2014,10.908814,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,...,0.385771,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0

In [10]:
len(snp_weather_management)
#metadata info for all instances available

162535

In [11]:
from sklearn.preprocessing import MinMaxScaler
#normalise growth_cycle weeks which you forgot last time
scaler = MinMaxScaler()
snp_weather_management['Growth_Cycle_Weeks_normalized'] = scaler.fit_transform(snp_weather_management[['Growth_Cycle_Weeks']])

In [13]:
snp_weather_management = snp_weather_management.drop(columns=['Growth_Cycle_Weeks'])

In [15]:
print('saving large file')
snp_weather_management.to_csv('final_boss_snp_weather_management.csv', index=False)
print('large file saved')

saving large file
large file saved

#### Construct Random Forest Model to see improvement in model performance after addition of management features

In [2]:
print('importing large file...')
snp_weather_management = pd.read_csv('final_boss_snp_weather_management.csv')
print('large file imported')

importing large file...
large file imported

In [3]:
#seperate features and targets
X = snp_weather_management.drop('Yield_Mg_ha', axis=1)
y = snp_weather_management['Yield_Mg_ha']

In [6]:
len(X), len(y)
#162535

(162535, 162535)

In [17]:
#need to remove Env variable 
X = X.drop(columns=['Env'])

X.head(5)
#2546 features

,S1_1007742,S1_1020677,S1_2018002,S1_2101934,S1_2275970,S1_2800964,S1_2811950,S1_2888631,S1_3023078,S1_3027593,...,Experiment_Code_Label_Normalized,Treatment_Label_Normalized,"Soil_Taxonomic_ID and horizon description, if known_Label_Normalized",Previous_Crop_Label_Normalized,Pre-plant_tillage_method(s)_Label_Normalized,In-season_tillage_method(s)_Label_Normalized,Issues_Label_Normalized,Type_of_planter (fluted cone; belt cone; air planter)_Label_Normalized,Irrigated_Label_Normalized,Growth_Cycle_Weeks_normalized
0,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,0.0,0.5,...,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0,0.25
1,0.0,0.5,0.0,0.5,0.5,0.5,0.5,0.5,0.0,0.0,...,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0,0.25
2,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,0.0,0.5,...,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0,0.25
3,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,0.0,0.5,...,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0,0.25
4,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.5,0.0,0.5,...,0.069767,1.0,0.979592,0.352941,0.247312,0.857143,0.533333,0.133333,0.0,0.25

In [8]:
y.head(5)
#yield

0     5.721725
1    11.338246
2     6.540810
3    10.366857
4    10.908814
Name: Yield_Mg_ha, dtype: float64

In [18]:
#train-val-split
#import sklearn train_test_split
from sklearn.model_selection import train_test_split

#train-val 80-20 split
X_train, X_val, y_train, y_val = train_test_split(X,
                                                  y,
                                                  test_size=0.2,
                                                  random_state=42)

In [19]:
X_train.shape, y_train.shape
#130028 instances in training

((130028, 2546), (130028,))

In [20]:
X_val.shape, y_val.shape
#32507 instance in testing

((32507, 2546), (32507,))

In [35]:
#model construction using sklearn

from sklearn.ensemble import RandomForestRegressor
#import sklearn RF package

#creating an instance of RandomForestRegressor model with defined hyper-parameters
rfr = RandomForestRegressor(
    n_estimators=150,  # Default, can be changed later
    max_features=100, #sample 100 features (30 more features sample in snp-weather model)
    max_samples=0.65, #65% of samples used for each tr
    max_depth=None,  # Default
    min_samples_split=5,
    min_samples_leaf=1,
    n_jobs=-1,  # Use all CPU cores for faster training
    random_state=42)

In [36]:
print('fitting model...')
rfr.fit(X_train, y_train)
print('model is fit')

fitting model...
model is fit

In [37]:
#make prediction using model on val split
y_preds = rfr.predict(X_val)
y_preds.shape, y_preds[:10], y_val[:10]

((32507,),
 array([ 4.6557436 ,  8.87265357, 12.90220122, 13.26298252, 11.62097684,
        12.20573641,  6.89269748,  9.6670336 , 10.84209516,  7.78908991]),
 60271      3.476701
 59779      9.553867
 21123     13.233150
 158526    12.714523
 47749     13.420983
 2996      10.900502
 17978      5.957371
 54138     11.578752
 11456     12.139811
 2841       8.784822
 Name: Yield_Mg_ha, dtype: float64)

In [38]:
#metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

mse = mean_squared_error(y_val, y_preds)
mae = mean_absolute_error(y_val, y_preds)
r2 = r2_score(y_val, y_preds)

In [39]:
print(f'SNP-Weather-Management Random Forest Results: \nmean square error: {mse:.3f} | mean absolute error: {mae:.3f} | r squared {r2:.3f}')
#very similar if not same SNP-Weather model. appear adding management feature made little difference

#possible reasons: 
#mangament features are sparse in dataset + rarely deviate from default setting (too small for RF to detect)
#management features usually subtle + correlate with weather features (can't be detected by RF, might be detected by NN)
#RF is underfitting/ over regularised

SNP-Weather-Management Random Forest Results:
mean square error: 3.061 | mean absolute error: 1.321 | r squared 0.684

In [40]:
y_preds = pd.Series(y_preds, index=y_val.index)

In [41]:
y_val_preds = pd.DataFrame({'y_preds': y_preds, 'y_val': y_val})

In [42]:
y_val_pred.to_csv('y_val_preds_snp_weather_management.csv', index=False)

In [44]:
#Calculate Gini Score to see feature importance in RF model
#Caution Gini score can be biased in unbalanced dataset
importances = rfr.feature_importances_

feature_importance_dict = dict(zip(X_train.columns, importances))
sorted_features = sorted(feature_importance_dict.items(), key=lambda x: x[1], reverse=True)

for feature, importance in sorted_features:
    print(f"{feature}: {importance:.4f}")

#weather features appear more important than snp or management
#max temp 4 weeks before planting is most informative. Could be period in which soil is prepared. high temp can effect soil moisture, microbes, etc
#some management features in top 10 (these a the numerical features with no missing values or n/a)
#most important cat management feature is Experiment Code (no missing values)
#snps features are very low in importance

#looks like management features with no missing values are used by model, ones with missing values and/or most are a default values is used less
#keep in dataset, these subtler effects and interaction maybe picked up by Neural network

T2M_MAX - Week -4: 0.0131
T2MDEW - Week 12: 0.0097
lat_Normalized: 0.0070
T2M_MIN - Week 12: 0.0062
T2M_MAX - Week 13: 0.0060
T2M_GDD - Week -4: 0.0056
T2M_GDD - Week 13: 0.0055
RH2M - Week -10: 0.0053
T2M_GDD - Week 12: 0.0051
lon_Normalized: 0.0047
Experiment_Code_Label_Normalized: 0.0047
T2M_GDD - Week 14: 0.0047
Env_Label_Normalized: 0.0046
RH2M - Week -9: 0.0045
T2MDEW - Week 11: 0.0044
T2M_GDD - Week -6: 0.0043
T2M_MIN - Week 13: 0.0043
T2M_MIN - Week -10: 0.0043
T2M_MAX - Week -9: 0.0043
WS2M - Week -7: 0.0042
T2M_MAX - Week -10: 0.0041
T2M_MAX - Week -8: 0.0041
T2M_MIN - Week 14: 0.0041
T2M_MAX - Week 17: 0.0040
T2M_MAX - Week -6: 0.0039
T2M_MAX - Week -7: 0.0039
T2M_GDD - Week -10: 0.0038
T2M_GDD - Week 11: 0.0037
WS2M - Week -9: 0.0037
T2M_MIN - Week -8: 0.0037
T2M_GDD - Week 15: 0.0036
RH2M - Week -4: 0.0036
T2MDEW - Week -10: 0.0035
Year_Normalized: 0.0035
T2M_MAX - Week 12: 0.0034
T2M_GDD - Week 8: 0.0034
T2M_GDD - Week -8: 0.0034
Pre-plant_tillage_method(s)_Label_Normalized: 0.0033
T2MDEW - Week 10: 0.0033
WS2M - Week -6: 0.0033
T2MDEW - Week 16: 0.0033
T2M_MIN - Week -6: 0.0031
T2M_MIN - Week 10: 0.0029
T2M_DIFF_SUM - Week -9: 0.0029
WS2M - Week 20: 0.0029
T2M_MIN - Week 15: 0.0029
T2M_MIN - Week 16: 0.0029
ALLSKY_SFC_SW_DWN - Week 19: 0.0028
WS2M - Week 16: 0.0028
T2M_MIN - Week 8: 0.0027
WS2M - Week -8: 0.0027
WS2M - Week 13: 0.0027
T2M_MIN - Week 11: 0.0027
T2MDEW - Week 8: 0.0027
T2M_DIFF_SUM - Week -7: 0.0027
T2M_GDD - Week 1: 0.0026
Hybrid_Label_Normalized: 0.0026
T2M_GDD - Week -9: 0.0026
PRECTOTCORR - Week -10: 0.0025
WS2M - Week -10: 0.0025
T2M_MIN - Week -4: 0.0025
T2M_GDD - Week -5: 0.0025
RH2M - Week 13: 0.0025
T2M_DIFF_SUM - Week 7: 0.0024
RH2M - Week -5: 0.0024
PRECTOTCORR - Week 11: 0.0024
T2M_GDD - Week 18: 0.0024
T2M_MAX - Week -5: 0.0024
T2MDEW - Week 14: 0.0024
PRECTOTCORR - Week -4: 0.0023
T2M_GDD - Week 7: 0.0023
T2MDEW - Week 9: 0.0023
WS2M - Week 15: 0.0023
T2M_DIFF_SUM - Week 12: 0.0022
WS2M - Week -3: 0.0022
T2M_MIN - Week 9: 0.0022
T2M_DIFF_SUM - Week -6: 0.0022
PRECTOTCORR - Week 12: 0.0022
WS2M - Week 14: 0.0022
ALLSKY_SFC_SW_DWN - Week -4: 0.0022
WS2M - Week -5: 0.0022
T2MDEW - Week -8: 0.0022
RH2M - Week 9: 0.0022
T2M_MAX - Week 9: 0.0021
T2MDEW - Week 19: 0.0021
T2M_DIFF_SUM - Week -4: 0.0021
T2M_MIN - Week 0: 0.0021
WS2M - Week 11: 0.0021
T2M_MIN - Week 17: 0.0021
ALLSKY_SFC_SW_DWN - Week 1: 0.0021
T2MDEW - Week -6: 0.0021
T2M_MIN - Week 19: 0.0021
ALLSKY_SFC_SW_DWN - Week 15: 0.0020
T2MDEW - Week -9: 0.0020
RH2M - Week 12: 0.0020
T2M_MIN - Week -9: 0.0020
WS2M - Week 7: 0.0020
T2M_DIFF_SUM - Week -3: 0.0020
T2M_DIFF_SUM - Week -10: 0.0020
WS2M - Week -2: 0.0019
ALLSKY_SFC_SW_DWN - Week -6: 0.0019
T2MDEW - Week 18: 0.0019
T2M_DIFF_SUM - Week -5: 0.0019
T2M_MIN - Week 20: 0.0019
RH2M - Week -3: 0.0019
T2M_MAX - Week 19: 0.0019
T2MDEW - Week 20: 0.0019
T2MDEW - Week -3: 0.0019
WS2M - Week 12: 0.0019
T2M_GDD - Week -2: 0.0018
RH2M - Week -2: 0.0018
T2M_MIN - Week 18: 0.0018
WS2M - Week 22: 0.0018
T2M_GDD - Week 10: 0.0018
ALLSKY_SFC_SW_DWN - Week 16: 0.0018
T2M_MAX - Week 8: 0.0018
WS2M - Week 8: 0.0018
WS2M - Week 2: 0.0018
WS2M - Week 6: 0.0018
WS2M - Week 21: 0.0018
ALLSKY_SFC_SW_DWN - Week 22: 0.0018
T2M_MAX - Week 11: 0.0018
WS2M - Week -1: 0.0018
WS2M - Week 5: 0.0017
T2M_MAX - Week 7: 0.0017
PRECTOTCORR - Week 3: 0.0017
RH2M - Week -6: 0.0017
T2M_MIN - Week -3: 0.0017
T2M_MAX - Week -3: 0.0017
ALLSKY_SFC_SW_DWN - Week -7: 0.0017
T2M_GDD - Week 16: 0.0017
Previous_Crop_Label_Normalized: 0.0017
T2M_MIN - Week -7: 0.0017
T2M_GDD - Week 22: 0.0017
T2M_MIN - Week 1: 0.0017
T2M_GDD - Week 0: 0.0017
T2M_MAX - Week 0: 0.0017
ALLSKY_SFC_SW_DWN - Week 6: 0.0016
T2M_GDD - Week -3: 0.0016
RH2M - Week -1: 0.0016
RH2M - Week -7: 0.0016
RH2M - Week 19: 0.0016
T2M_GDD - Week 5: 0.0016
T2M_MAX - Week 10: 0.0016
PRECTOTCORR - Week 20: 0.0016
T2MDEW - Week -4: 0.0016
ALLSKY_SFC_SW_DWN - Week 13: 0.0016
WS2M - Week 10: 0.0016
PRECTOTCORR - Week -7: 0.0016
T2M_MIN - Week -5: 0.0016
PRECTOTCORR - Week -2: 0.0016
T2M_DIFF_SUM - Week 19: 0.0016
T2M_DIFF_SUM - Week 9: 0.0016
ALLSKY_SFC_SW_DWN - Week 20: 0.0016
WS2M - Week 3: 0.0016
T2M_MIN - Week 5: 0.0016
T2M_GDD - Week 17: 0.0016
WS2M - Week -4: 0.0016
T2M_MAX - Week 1: 0.0016
WS2M - Week 4: 0.0016
T2M_MAX - Week 18: 0.0015
T2M_DIFF_SUM - Week 18: 0.0015
PRECTOTCORR - Week 18: 0.0015
RH2M - Week -8: 0.0015
T2MDEW - Week -1: 0.0015
ALLSKY_SFC_SW_DWN - Week 14: 0.0015
RH2M - Week 7: 0.0015
RH2M - Week 22: 0.0015
RH2M - Week 10: 0.0015
ALLSKY_SFC_SW_DWN - Week -5: 0.0015
T2M_MIN - Week -1: 0.0015
Growth_Cycle_Weeks_normalized: 0.0015
T2M_DIFF_SUM - Week 22: 0.0015
T2M_DIFF_SUM - Week 8: 0.0015
PRECTOTCORR - Week 15: 0.0015
RH2M - Week 15: 0.0015
PRECTOTCORR - Week 16: 0.0015
T2MDEW - Week 5: 0.0015
T2M_DIFF_SUM - Week -2: 0.0015
T2M_MAX - Week 15: 0.0015
T2M_DIFF_SUM - Week 17: 0.0015
RH2M - Week 2: 0.0014
ALLSKY_SFC_SW_DWN - Week 10: 0.0014
T2M_DIFF_SUM - Week -1: 0.0014
PRECTOTCORR - Week 8: 0.0014
ALLSKY_SFC_SW_DWN - Week -10: 0.0014
PRECTOTCORR - Week -6: 0.0014
Issues_Label_Normalized: 0.0014
ALLSKY_SFC_SW_DWN - Week 11: 0.0014
T2M_MAX - Week 16: 0.0014
T2MDEW - Week -5: 0.0014
RH2M - Week 11: 0.0014
ALLSKY_SFC_SW_DWN - Week -9: 0.0014
T2M_MAX - Week 6: 0.0014
PRECTOTCORR - Week 5: 0.0014
RH2M - Week 14: 0.0014
Type_of_planter (fluted cone; belt cone; air planter)_Label_Normalized: 0.0014
T2M_DIFF_SUM - Week 0: 0.0014
T2M_DIFF_SUM - Week 5: 0.0014
PRECTOTCORR - Week 22: 0.0014
RH2M - Week 20: 0.0014
RH2M - Week 1: 0.0014
T2M_GDD - Week 19: 0.0014
RH2M - Week 18: 0.0013
RH2M - Week 5: 0.0013
WS2M - Week 17: 0.0013
T2M_GDD - Week 4: 0.0013
ALLSKY_SFC_SW_DWN - Week 21: 0.0013
T2M_GDD - Week 2: 0.0013
PRECTOTCORR - Week 0: 0.0013
T2M_MIN - Week 21: 0.0013
T2M_MIN - Week -2: 0.0013
T2M_MIN - Week 3: 0.0013
T2M_DIFF_SUM - Week 15: 0.0013
RH2M - Week 3: 0.0013
T2M_DIFF_SUM - Week 16: 0.0013
WS2M - Week 23: 0.0013
T2M_DIFF_SUM - Week 6: 0.0013
T2M_GDD - Week 9: 0.0013
T2M_GDD - Week -7: 0.0013
T2M_MIN - Week 7: 0.0013
T2MDEW - Week 6: 0.0013
T2M_DIFF_SUM - Week 14: 0.0013
T2M_MAX - Week 23: 0.0013
PRECTOTCORR - Week 14: 0.0012
RH2M - Week 8: 0.0012
WS2M - Week 9: 0.0012
T2M_GDD - Week -1: 0.0012
ALLSKY_SFC_SW_DWN - Week 3: 0.0012
T2MDEW - Week 21: 0.0012
T2M_GDD - Week 3: 0.0012
T2MDEW - Week 13: 0.0012
T2M_MAX - Week 3: 0.0012
WS2M - Week 19: 0.0012
T2M_MAX - Week -1: 0.0012
PRECTOTCORR - Week 19: 0.0012
T2MDEW - Week 7: 0.0012
T2M_MAX - Week 14: 0.0012
ALLSKY_SFC_SW_DWN - Week 2: 0.0012
T2M_MAX - Week 2: 0.0012
PRECTOTCORR - Week -8: 0.0012
T2M_DIFF_SUM - Week 13: 0.0012
T2MDEW - Week 15: 0.0012
T2MDEW - Week 23: 0.0012
T2M_GDD - Week 20: 0.0012
T2MDEW - Week 3: 0.0012
PRECTOTCORR - Week 2: 0.0012
T2M_DIFF_SUM - Week 4: 0.0012
RH2M - Week 4: 0.0012
T2M_MAX - Week 4: 0.0012
T2M_MAX - Week -2: 0.0012
T2MDEW - Week 4: 0.0012
WS2M - Week 1: 0.0011
WS2M - Week 18: 0.0011
T2M_MIN - Week 2: 0.0011
WS2M - Week 0: 0.0011
RH2M - Week 0: 0.0011
RH2M - Week 6: 0.0011
RH2M - Week 23: 0.0011
RH2M - Week 16: 0.0011
ALLSKY_SFC_SW_DWN - Week 5: 0.0011
ALLSKY_SFC_SW_DWN - Week 17: 0.0011
T2M_MAX - Week 5: 0.0011
T2M_DIFF_SUM - Week -8: 0.0011
T2M_GDD - Week 23: 0.0011
T2M_MAX - Week 20: 0.0011
ALLSKY_SFC_SW_DWN - Week 18: 0.0011
ALLSKY_SFC_SW_DWN - Week 12: 0.0011
ALLSKY_SFC_SW_DWN - Week -8: 0.0011
ALLSKY_SFC_SW_DWN - Week -3: 0.0011
T2MDEW - Week 22: 0.0011
PRECTOTCORR - Week 23: 0.0011
T2MDEW - Week 1: 0.0011
T2M_GDD - Week 21: 0.0011
PRECTOTCORR - Week 7: 0.0010
T2M_DIFF_SUM - Week 21: 0.0010
PRECTOTCORR - Week -5: 0.0010
T2M_DIFF_SUM - Week 1: 0.0010
T2MDEW - Week 2: 0.0010
T2M_GDD - Week 6: 0.0010
T2M_DIFF_SUM - Week 2: 0.0010
ALLSKY_SFC_SW_DWN - Week 23: 0.0010
PRECTOTCORR - Week 21: 0.0010
PRECTOTCORR - Week 1: 0.0010
T2MDEW - Week 0: 0.0010
ALLSKY_SFC_SW_DWN - Week 0: 0.0010
PRECTOTCORR - Week 6: 0.0010
T2M_DIFF_SUM - Week 10: 0.0010
ALLSKY_SFC_SW_DWN - Week 8: 0.0010
PRECTOTCORR - Week -9: 0.0010
S1_297821279: 0.0010
ALLSKY_SFC_SW_DWN - Week -2: 0.0010
T2MDEW - Week -7: 0.0010
T2M_DIFF_SUM - Week 20: 0.0010
ALLSKY_SFC_SW_DWN - Week 9: 0.0010
ALLSKY_SFC_SW_DWN - Week 7: 0.0009
ALLSKY_SFC_SW_DWN - Week -1: 0.0009
T2M_DIFF_SUM - Week 11: 0.0009
S1_2888631: 0.0009
PRECTOTCORR - Week -1: 0.0009
T2M_MIN - Week 23: 0.0009
T2M_MIN - Week 22: 0.0009
T2M_DIFF_SUM - Week 3: 0.0009
T2MDEW - Week -2: 0.0009
PRECTOTCORR - Week -3: 0.0009
PRECTOTCORR - Week 10: 0.0009
ALLSKY_SFC_SW_DWN - Week 4: 0.0009
T2M_MIN - Week 4: 0.0009
PRECTOTCORR - Week 4: 0.0009
PRECTOTCORR - Week 17: 0.0009
T2M_MAX - Week 22: 0.0008
S1_277707178: 0.0008
WS2M - Week 28: 0.0008
T2M_DIFF_SUM - Week 23: 0.0008
RH2M - Week 21: 0.0007
T2M_MAX - Week 21: 0.0007
T2MDEW - Week 26: 0.0007
RH2M - Week 24: 0.0007
RH2M - Week 17: 0.0007
PRECTOTCORR - Week 9: 0.0007
PRECTOTCORR - Week 13: 0.0006
T2M_MIN - Week 6: 0.0006
T2MDEW - Week 25: 0.0006
T2MDEW - Week 17: 0.0006
S2_194440044: 0.0006
ALLSKY_SFC_SW_DWN - Week 28: 0.0006
S5_44150436: 0.0006
T2M_MIN - Week 27: 0.0006
S10_140320829: 0.0006
Soil_Taxonomic_ID and horizon description, if known_Label_Normalized: 0.0005
T2M_MIN - Week 24: 0.0005
S7_175482129: 0.0005
S8_123526088: 0.0005
S9_8971249: 0.0005
T2MDEW - Week 24: 0.0005
WS2M - Week 27: 0.0004
PRECTOTCORR - Week 24: 0.0004
T2M_GDD - Week 24: 0.0004
RH2M - Week 25: 0.0004
S1_284776735: 0.0004
T2MDEW - Week 27: 0.0004
T2M_DIFF_SUM - Week 24: 0.0004
S3_223221766: 0.0004
T2M_MIN - Week 26: 0.0004
ALLSKY_SFC_SW_DWN - Week 24: 0.0004
S1_225214186: 0.0004
S5_167631942: 0.0004
S1_288426392: 0.0004
S2_33151923: 0.0004
T2M_MAX - Week 24: 0.0004
S2_210221330: 0.0003
S1_82824904: 0.0003
T2M_DIFF_SUM - Week 28: 0.0003
S8_149420065: 0.0003
S7_31369870: 0.0003
S5_141835704: 0.0003
S5_2859808: 0.0003
T2M_GDD - Week 25: 0.0003
S7_1882039: 0.0003
T2MDEW - Week 28: 0.0003
WS2M - Week 24: 0.0003
T2M_MAX - Week 25: 0.0003
S10_149647241: 0.0003
T2M_MIN - Week 25: 0.0003
T2M_GDD - Week 26: 0.0003
S1_25937934: 0.0003
S3_187195001: 0.0003
S1_29134257: 0.0003
S7_164101621: 0.0003
T2M_GDD - Week 28: 0.0003
S8_168775473: 0.0003
S9_25652799: 0.0003
S5_64000675: 0.0003
S1_7019860: 0.0003
S10_114996351: 0.0003
S2_205532643: 0.0003
ALLSKY_SFC_SW_DWN - Week 27: 0.0003
S9_145300931: 0.0003
S6_133175017: 0.0003
S5_1223077: 0.0003
S1_228067077: 0.0003
PRECTOTCORR - Week 27: 0.0003
S1_284775241: 0.0003
S8_140716187: 0.0003
S5_2791798: 0.0003
S8_72227765: 0.0003
S5_76690334: 0.0003
S5_189363603: 0.0003
S5_197833779: 0.0003
S8_165213412: 0.0003
S5_217277409: 0.0003
S2_194547942: 0.0003
S10_149851103: 0.0003
S4_33993933: 0.0003
S3_161093843: 0.0003
WS2M - Week 26: 0.0003
S3_125219740: 0.0003
S2_104739030: 0.0003
S2_209877341: 0.0003
S4_6215946: 0.0003
ALLSKY_SFC_SW_DWN - Week 25: 0.0003
S10_4445207: 0.0003
S5_83097599: 0.0003
S5_2037046: 0.0003
S3_214725503: 0.0003
S5_19375485: 0.0003
S10_149298931: 0.0003
S1_12066883: 0.0003
S6_12017089: 0.0003
S3_67441338: 0.0003
S2_215426572: 0.0003
S8_106910226: 0.0003
S8_167202272: 0.0003
S5_5059451: 0.0003
S6_171072688: 0.0003
S1_289559927: 0.0003
S2_205202588: 0.0003
T2M_MAX - Week 28: 0.0003
S5_134357391: 0.0003
S1_234071369: 0.0003
S3_6471653: 0.0003
T2M_MIN - Week 28: 0.0003
S4_179370281: 0.0003
S1_117067166: 0.0003
S2_231794636: 0.0003
S3_217122021: 0.0003
S5_9900858: 0.0003
S5_7117510: 0.0003
S1_4083443: 0.0003
S10_82716736: 0.0003
S2_10412192: 0.0003
S3_214605122: 0.0003
S7_13501881: 0.0003
S2_132258688: 0.0003
S7_4993741: 0.0003
S3_179047893: 0.0003
S10_149259041: 0.0003
S5_223430784: 0.0003
S3_223081534: 0.0003
S10_136957021: 0.0003
S1_13721542: 0.0003
S1_227836197: 0.0003
S6_174554225: 0.0003
S10_136476190: 0.0003
S10_150733250: 0.0003
S1_17084072: 0.0003
S10_145871698: 0.0003
S4_174661607: 0.0003
S9_133208756: 0.0003
S1_269114894: 0.0003
S2_210745995: 0.0003
S4_201649912: 0.0003
S2_219587333: 0.0002
S5_207186816: 0.0002
S7_112726284: 0.0002
S2_149286050: 0.0002
S1_85241654: 0.0002
S6_102701334: 0.0002
S6_95582532: 0.0002
S9_25419062: 0.0002
T2M_DIFF_SUM - Week 27: 0.0002
S8_153951065: 0.0002
S1_42966940: 0.0002
S3_2856966: 0.0002
S3_188667827: 0.0002
S10_131791443: 0.0002
S1_302074583: 0.0002
S9_147969421: 0.0002
S10_116328788: 0.0002
S7_136452694: 0.0002
S9_27016143: 0.0002
S7_109732796: 0.0002
S1_5050985: 0.0002
S5_95340368: 0.0002
S5_203425942: 0.0002
PRECTOTCORR - Week 25: 0.0002
S10_81691323: 0.0002
S5_189840116: 0.0002
S6_138176820: 0.0002
S1_90306830: 0.0002
S5_192792986: 0.0002
S8_168540873: 0.0002
S8_179957322: 0.0002
S4_172278923: 0.0002
S2_199610100: 0.0002
S8_154277134: 0.0002
S10_77741095: 0.0002
RH2M - Week 27: 0.0002
S10_13556481: 0.0002
S5_88323212: 0.0002
S1_264032977: 0.0002
S5_162523281: 0.0002
S5_973097: 0.0002
S3_177693438: 0.0002
S7_152980877: 0.0002
S3_210859046: 0.0002
S1_4082864: 0.0002
S9_69024153: 0.0002
S6_171331272: 0.0002
S9_146916548: 0.0002
S7_184554841: 0.0002
S2_38098248: 0.0002
S10_149394364: 0.0002
S6_133659609: 0.0002
ALLSKY_SFC_SW_DWN - Week 26: 0.0002
S9_144842802: 0.0002
S10_83314593: 0.0002
S1_254980069: 0.0002
PRECTOTCORR - Week 26: 0.0002
S7_180311878: 0.0002
S9_145782578: 0.0002
S7_11634162: 0.0002
S6_171825719: 0.0002
S1_52103257: 0.0002
S5_211242216: 0.0002
S4_153603804: 0.0002
S1_55004474: 0.0002
S5_223756239: 0.0002
S3_13692521: 0.0002
S5_147473771: 0.0002
S3_184696223: 0.0002
S1_231670600: 0.0002
S2_222357904: 0.0002
S3_162820425: 0.0002
S8_162352976: 0.0002
S10_149474479: 0.0002
S1_28862889: 0.0002
S10_109673528: 0.0002
S3_156073129: 0.0002
S1_4860666: 0.0002
S8_126981184: 0.0002
S2_231108120: 0.0002
S8_7259227: 0.0002
S3_214188340: 0.0002
S5_211692214: 0.0002
S5_10519995: 0.0002
S7_28946638: 0.0002
S5_220625279: 0.0002
S2_227288798: 0.0002
S3_1400719: 0.0002
In-season_tillage_method(s)_Label_Normalized: 0.0002
S3_6251167: 0.0002
T2M_MAX - Week 26: 0.0002
S1_49651854: 0.0002
S1_199318165: 0.0002
S7_144877105: 0.0002
S8_82162950: 0.0002
S4_6397331: 0.0002
S8_37491523: 0.0002
S2_237249582: 0.0002
S1_25897362: 0.0002
S1_289484026: 0.0002
S1_297129406: 0.0002
S2_189882931: 0.0002
S7_1623486: 0.0002
S10_576837: 0.0002
S4_10786694: 0.0002
S4_175791704: 0.0002
S7_129214069: 0.0002
S2_162911496: 0.0002
S3_215949122: 0.0002
S1_79764069: 0.0002
S1_70237562: 0.0002
S5_1064405: 0.0002
S1_240319705: 0.0002
S8_180189011: 0.0002
S3_160747686: 0.0002
S3_164144412: 0.0002
S10_128804415: 0.0002
S8_152931377: 0.0002
S5_174744000: 0.0002
S1_295606882: 0.0002
S8_121230676: 0.0002
S5_14248069: 0.0002
S2_194547427: 0.0002
S1_28901862: 0.0002
S9_117454544: 0.0002
S2_221273186: 0.0002
S6_171107203: 0.0002
S9_73101689: 0.0002
S10_97106903: 0.0002
S2_234490837: 0.0002
S10_134011: 0.0002
S2_23345860: 0.0002
S2_23121387: 0.0002
S5_12127492: 0.0002
S8_146915872: 0.0002
S5_6368813: 0.0002
S9_124773786: 0.0002
S8_10712954: 0.0002
S9_19431348: 0.0002
S4_18845218: 0.0002
S1_296263882: 0.0002
S5_211698429: 0.0002
S10_145112713: 0.0002
S7_6008227: 0.0002
S2_4413966: 0.0002
S8_18836435: 0.0002
S7_122387013: 0.0002
S3_186759224: 0.0002
S1_53696912: 0.0002
S4_173812038: 0.0002
S5_179923101: 0.0002
S6_173144508: 0.0002
S5_32349939: 0.0002
S1_67232203: 0.0002
S5_88321071: 0.0002
S2_13163519: 0.0002
S1_263089262: 0.0002
S7_133186810: 0.0002
S6_165082843: 0.0002
S4_169358752: 0.0002
S4_239877963: 0.0002
S2_197758561: 0.0002
S1_205867610: 0.0002
S7_177592139: 0.0002
S2_18901095: 0.0002
S2_44764987: 0.0002
S5_195080529: 0.0002
S5_15844564: 0.0002
S6_173220894: 0.0002
S1_287955406: 0.0002
S10_142018900: 0.0002
S7_98764344: 0.0002
S8_5489560: 0.0002
S5_216397829: 0.0002
S4_182462132: 0.0002
S1_287158098: 0.0002
S2_41698654: 0.0002
S6_102804778: 0.0002
S1_285256763: 0.0002
S1_3113549: 0.0002
S4_172480572: 0.0002
S5_223366133: 0.0002
S3_218883017: 0.0002
S6_124872356: 0.0002
S9_82307557: 0.0002
S2_205276152: 0.0002
S5_198023231: 0.0002
S5_2253809: 0.0002
S1_61799908: 0.0002
S3_11535801: 0.0002
S10_78957271: 0.0002
S7_176908652: 0.0002
S4_151119203: 0.0002
S2_152402374: 0.0002
S5_223645549: 0.0002
S8_163012266: 0.0002
S4_27987442: 0.0002
S6_162413998: 0.0002
S8_7117363: 0.0002
S7_126935343: 0.0002
S5_220616742: 0.0002
S7_143685357: 0.0002
S8_97729237: 0.0002
S3_10265327: 0.0002
S1_104266693: 0.0002
S5_88891444: 0.0002
S10_135897338: 0.0002
S1_79974668: 0.0002
S8_148123368: 0.0002
S6_175614573: 0.0002
S9_155890855: 0.0002
S9_118244797: 0.0002
S4_183484517: 0.0002
S1_306125534: 0.0002
S1_226580848: 0.0002
S1_301040186: 0.0002
S5_218069890: 0.0002
S9_155919344: 0.0002
S9_138760923: 0.0002
S5_62982504: 0.0002
S4_10696101: 0.0002
S5_25947924: 0.0002
S3_223158468: 0.0002
S3_179993119: 0.0002
S2_205275866: 0.0002
S3_14801890: 0.0002
S8_1829299: 0.0002
S6_64419294: 0.0002
S8_121951790: 0.0002
S1_303597643: 0.0002
S8_178286494: 0.0002
S10_141762354: 0.0002
S7_4185885: 0.0002
S9_146131631: 0.0002
S7_177297045: 0.0002
S7_176208045: 0.0002
S1_305526698: 0.0002
S9_146910765: 0.0002
S1_282961510: 0.0002
S5_213137320: 0.0002
S2_2532588: 0.0002
S1_302268166: 0.0002
S3_214045535: 0.0002
S9_155615428: 0.0002
S2_222315040: 0.0002
S1_268833938: 0.0002
S1_31207798: 0.0002
S3_201140023: 0.0002
S1_261456944: 0.0002
S2_9327647: 0.0002
S2_214128791: 0.0002
S5_1986447: 0.0002
S4_19534877: 0.0002
S5_215367218: 0.0002
S7_178522030: 0.0002
S10_137623845: 0.0002
S8_177315603: 0.0002
WS2M - Week 25: 0.0002
S1_302390178: 0.0002
S1_8424731: 0.0002
S7_178518778: 0.0002
S9_127812853: 0.0002
S3_159820975: 0.0002
S3_98255576: 0.0002
S9_136741591: 0.0002
S8_138671667: 0.0002
S1_246528913: 0.0002
S3_130552961: 0.0002
S1_300695527: 0.0002
S1_303186646: 0.0002
S4_10904652: 0.0002
S5_113637702: 0.0002
S3_178405366: 0.0002
S7_136214505: 0.0002
S5_14562872: 0.0002
S2_20695799: 0.0002
S4_241704963: 0.0002
S4_179674809: 0.0002
S7_171494406: 0.0002
S4_5038043: 0.0002
S3_209594607: 0.0002
S4_241832875: 0.0002
S1_55146349: 0.0002
S1_178116483: 0.0002
S9_139489431: 0.0002
S3_3364555: 0.0002
S9_20566593: 0.0002
S1_275604002: 0.0002
S9_133319015: 0.0002
S6_148015145: 0.0002
S3_8769130: 0.0002
S10_151045975: 0.0002
S10_3535567: 0.0002
S7_123465778: 0.0002
S9_140350405: 0.0002
S4_161049665: 0.0002
S1_305453976: 0.0002
S5_2858950: 0.0002
S7_13961624: 0.0002
S1_83001157: 0.0002
S1_303116466: 0.0002
S1_254268145: 0.0002
S10_150711963: 0.0002
S7_14207155: 0.0002
S10_136340251: 0.0002
S5_213100773: 0.0002
S1_2101934: 0.0002
S5_187240493: 0.0002
S9_27018250: 0.0002
S5_176356092: 0.0002
S1_288426011: 0.0002
S3_3578856: 0.0002
S4_177902767: 0.0002
S3_13453917: 0.0002
S1_93713464: 0.0002
S1_300685135: 0.0002
S9_89588752: 0.0002
S5_162295166: 0.0002
S2_214011697: 0.0002
S1_38176608: 0.0002
S3_210833153: 0.0002
S4_68509682: 0.0002
S2_231435378: 0.0002
S2_222453733: 0.0002
S2_220815115: 0.0002
S2_184952096: 0.0002
S6_175155013: 0.0002
S10_144224453: 0.0002
S2_229711768: 0.0002
S9_82881269: 0.0002
S3_143115991: 0.0002
S3_3362245: 0.0002
S10_5169551: 0.0002
S8_165221478: 0.0002
S2_205010951: 0.0002
S4_28628470: 0.0002
S5_213571586: 0.0002
S2_1703653: 0.0002
S1_285109719: 0.0002
S9_106218142: 0.0002
S9_34238597: 0.0002
S7_4710133: 0.0002
S1_295842024: 0.0002
S5_32090793: 0.0002
S7_47593869: 0.0002
S8_175564833: 0.0002
S1_2275970: 0.0002
S1_206556648: 0.0002
S1_297155444: 0.0002
S10_101703947: 0.0002
S7_178518524: 0.0002
S3_222666340: 0.0002
S7_129807336: 0.0002
S8_25779871: 0.0002
S1_297693043: 0.0002
S2_155999724: 0.0002
S1_295841168: 0.0002
S3_161085854: 0.0002
S3_6257096: 0.0002
S2_6256948: 0.0002
S8_158696822: 0.0002
S1_19817258: 0.0002
S4_28810964: 0.0002
S10_5169537: 0.0002
S9_129572300: 0.0002
S7_166294479: 0.0002
S1_193302766: 0.0002
S2_7563816: 0.0002
S3_221172195: 0.0002
S2_229349944: 0.0002
S1_298732606: 0.0002
S5_166675806: 0.0002
S2_151627004: 0.0002
S1_291904261: 0.0002
S3_183585883: 0.0002
S8_162822724: 0.0002
S1_262984673: 0.0002
S1_9424346: 0.0002
S2_190713004: 0.0002
S5_223430984: 0.0002
S3_151478783: 0.0002
S5_35406000: 0.0002
S9_13656461: 0.0002
S2_225583999: 0.0002
S2_140636955: 0.0002
S8_75124138: 0.0002
S7_4131827: 0.0002
S10_147282479: 0.0002
S4_191133446: 0.0002
S5_21801726: 0.0002
S8_163496457: 0.0002
S1_24898795: 0.0002
S6_173395982: 0.0002
S3_169098185: 0.0002
S6_131992891: 0.0002
S2_238592722: 0.0002